<div class="page-header">
  <h1>Vehicle database<small></small></h1> 
  {{ vehicle | json }}
  <p> 
  </p>
</div>
<div class="form-group">
  <label for="vehiclemake">Vehicle Make</label>
  <select id="vehiclemake" class="form-control" [(ngModel)]="query.vehiclemakeid" (change)="onFilterChange()">
    <option value=""></option>
    <option *ngFor="let m of vehiclemakes" value="{{ m.id }}">{{ m.name }}</option>
  </select>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
        {{ c.title }}
        <i *ngIf="query.sortBy === c.key"
           class="glyphicon"
           [class.glyphicon-chevron-up]="query.isSortAscending"
           [class.glyphicon-chevron-down]="!query.isSortAscending"
           ></i>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{ v.id }}</td>
      <td>{{ v.vehicleMake.name }}</td>
      <td>{{ v.vehicleModel.name }}</td>
      <td>{{ v.owneremail }}</td>
      <td>
        <a [routerLink]="['/vehicles/', v.id]">Edit </a>
      </td>
    </tr>
  </tbody>
</table>
<div><ngb-pagination (pageChange)="loadVehicles($event)" [(page)]="page" [(collectionSize)]="total" [directionLinks]="false"></ngb-pagination></div>
<a [routerLink]="['/vehicles/new']" class="btn btn-primary btn-sm">Add New Vehicle</a>
