<div class="page-header">
  <h1>Vehicle database<small></small></h1> 
  <p> 
  </p>
</div>
<div class="form-group">
  <label for="vehiclemake">Vehicle Make</label>
  <select id="vehiclemake" class="form-control" [(ngModel)]="query.vehiclemakeid" (change)="onFilterChange()">
    <option value=""></option>
    <option *ngFor="let m of vehiclemakes" value="{{ m.id }}">{{ m.name }}</option>
  </select>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th (click)="sortBy('vehicleMake')">Vehicle Make</th>
      <th (click)="sortBy('vehicleModel')">Vehicle Model</th>
      <th (click)="sortBy('ownersEmail')">Contact E-mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{ v.id }}</td>
      <td>{{ v.vehicleMake.name }}</td>
      <td>{{ v.vehicleModel.name }}</td>
      <td>{{ v.ownerEmail }}</td>
      <td>
        <a [routerLink]="['/vehicles/', v.id]">Edit </a>
      </td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['/vehicles/new']" class="btn btn-primary btn-sm">Add New Vehicle</a>
